/*
  Hmm = 240mm; Hpt = 680.3149606 (Hnm*2.8346456693)
  Wmm = 170mm; Wpt = 481.8897638; 
  Kmm коэф. mm>px: 2.875 (--main-heght-px / Hmm);
  Kpt коэф. pt>px: 1.014236111108012 (Kmm/2.8346456693)
  */
:root {
  /* sizes */
  --Hmm: 240;
  --Wmm: 170;
  --Hpx: 690px;
  --Mgn-left-mm: 15;
  --Mgn-top-mm: 15;
  --Mgn-right-mm: 15;
  --Mgn-bott-mm: 15;
  /* colors */
  --master-lines-clr: black;
  --master-txt-clr: black;
  --table-lines-clr: black;
}

body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
code,
blockquote {
  margin: 0;
  padding: 0;
  /* border-style: none; */
  text-rendering: optimizeSpeed;
}

body {
  --Kmm: calc(var(--Hpx) / var(--Hmm));
  --Kpt: calc(var(--Hpx) / var(--Hmm) / 2.8346456693);
  box-sizing: border-box;
}
/* ============================временно==============================================================*/
div {
  border: 1px solid lightblue;
}

/* ----------------Стили фреймы Основной разметки страницы --------------- */

.page_container {
  --Wpx: calc(var(--Wmm) * var(--Kmm));
  --Mgn-left-px: calc(var(--Mgn-left-mm) * var(--Kmm));
  --Mgn-top-px: calc(var(--Mgn-top-mm) * var(--Kmm));
  --Mgn-right-px: calc(var(--Mgn-right-mm) * var(--Kmm));
  --Mgn-bott-px: calc(var(--Mgn-bott-mm) * var(--Kmm));
  --TypePageW: calc(var(--Wpx) - var(--Mgn-left-px) - var(--Mgn-right-px));
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--Wpx);
  height: var(--Hpx);
  background-color: #eee;
}

/* main {} */

.type_page {
  position: absolute;
  top: var(--Mgn-top-px);
  left: var(--Mgn-left-px);
  bottom: var(--Mgn-bott-px);
  width: var(--TypePageW);
  /* background-color: #fff; */
}
.top-margin {
  position: absolute;
  top: 0px;
  left: var(--Mgn-left-px);
  height: var(--Mgn-top-px);
  width: calc(var(--Wpx) - var(--Mgn-left-px) - var(--Mgn-right-px));
  background-color: #ddd;
}
.left-margin {
  position: absolute;
  left: 0px;
  top: var(--Mgn-top-px);
  width: var(--Mgn-left-px);
  height: calc(var(--Hpx) - var(--Mgn-top-px) - var(--Mgn-bott-px));
  background-color: #ccc;
}
.right-margin {
  position: absolute;
  width: var(--Mgn-right-px);
  top: var(--Mgn-top-px);
  right: 0px;
  height: calc(var(--Hpx) - var(--Mgn-top-px) - var(--Mgn-bott-px));
  background-color: #cfc;
}
.bot-margin {
  position: absolute;
  top: calc(var(--Hpx) - var(--Mgn-bott-px));
  left: var(--Mgn-left-px);
  height: var(--Mgn-top-px);
  width: calc(var(--Wpx) - var(--Mgn-left-px) - var(--Mgn-right-px));
  background-color: #ddd;
}

/* =========================== СТИЛИ ШАБЛОНА МАКЕТА ================== */
/* -------------------------------- Running Headers -------------------------- */

.top-RH {
  width: 100%;
  bottom: 15px;
  position: absolute;
}
.top-RH:after {
  content: " ";
  background: var(--master-lines-clr);
  display: block;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: -2px;
  right: 0px;
  position: absolute;
}

.bot-RH {
  width: 100%;
  top: 5px;
  position: absolute;
}
.bot-RH:before {
  content: " ";
  background: var(--master-lines-clr);
  display: block;
  width: 100%;
  height: 1px;
  left: 0px;
  top: -2px;
  right: 0px;
  position: absolute;
}
.aside-RH-left {
  position: absolute;
  top: 0px;
  right: 10px;
  white-space: nowrap;
  transform-origin: bottom right;
}
.aside-RH-right {
  position: absolute;
  top: 0px;
  left: 10px;
  white-space: nowrap;
  transform-origin: bottom left;
}

/* ==================================== ТРАНФОРМАЦИЯ ======================== */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.rotate-270 {
  transform: rotate(270deg);
}
.rotate-90 {
  transform: rotate(90deg);
}

/* ========================= СТИЛИ НАБОРНОГО ПОЛЯ ======================================== */
figure {
  margin: 0px 1px 1px 1px;
}
figure img {
  margin: 0;
}
